.team_info {
    margin: 40px auto;
    z-index: 6;
    color: #4A4949;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 20px;
    background: #fff;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
}
.title {    
    width: 300px;
    height: 20px;
    z-index: 6;
    color: #E6EE9C;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 20px;
    background: rgb(33, 121, 181);
    line-height: 1;
    cursor: pointer;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
}
.top_section {
    position:absolute;
    top:20%;
    left:10%;
}
.page_title {
  position: absolute;
  top: 30px;
  left: 10%;
  z-index: 6;
  color: rgb(33, 121, 181);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 20px;
  background: #E6EE9C; 
  line-height: 1;
  cursor: pointer;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
}